/.idea/.name
/.idea/shelf/Added_documentation_for_find_and_combine_function.xml
/.idea/shelf/Added_documentation_for_find_and_combine_function1.xml
/dist/dirlin-0.1.0.tar.gz
/dist/dirlin-0.1.0-py3-none-any.whl
/.idea/shelf/Minor_Updates.xml
/pyproject.toml
/.idea/shelf/Added_documentation_for_find_and_combine_function/shelved.patch
/.idea/shelf/Added_documentation_for_find_and_combine_function1/shelved.patch
/.idea/shelf/Minor_Updates/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_22_23,_8_59_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_22_23__8_59_PM__Changes_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_22_23,_8_59_PM_[Changes]/shelved.patch
/dist/dirlin-0.1.7.tar.gz
/dist/dirlin-0.1.7-py3-none-any.whl
