pathlib~=1.0.1
openpyxl
xlrd==2.0.1
pandas==2.0.2
chardet==5.2.0
numpy<2.0.0
pytest~=8.3.5
tqdm~=4.67.1
pyxlsb==1.0.10
setuptools~=80.1
pdfplumber==0.11.6
Dirlin==0.4.2
pypdf==5.6.0
SQLAlchemy==2.0.41
pydantic==2.11.6